<div class="container-fluid p-3  border bg-white ">
  <div class="row m-auto">
    <div class="col-md-12 text-center text-primary">
        <h3>Membership options</h3 >
    </div>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="card-deck">
                <div class="card">
                    <div class="card-header ">
                        <h5 class="card-title">{{memberships[0].name}}</h5>
                    </div>
                  <img class="card-img-top" src="../../assets/gym.jpg" height="50%" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{memberships[0].description}}</p>
                    <p class="card-text">Duration: {{memberships[0].duration}} times/month</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> Standard price: {{memberships[0].price}}</small>
                    <br>
                    <small class="text-muted"> Student price: {{memberships[0].discount}}</small>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{memberships[1].name}}</h5>
                    </div>
                  <img class="card-img-top" src="../../assets/cardio2.jpg" height="50%"  alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{memberships[1].description}}</p>
                    <p class="card-text">Duration: {{memberships[1].duration}} times/month</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> Standard price: {{memberships[1].price}}</small>
                    <br>
                    <small class="text-muted"> Student price: {{memberships[1].discount}}</small>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{memberships[2].name}}</h5>
                    </div>
                  <img class="card-img-top" src="../../assets/gym&cardio.jpg" height="50%" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{memberships[2].description}}</p>
                    <p class="card-text">Duration: {{memberships[2].duration}} times/month</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> Standard price: {{memberships[2].price}}</small>
                    <br>
                    <small class="text-muted"> Student price: {{memberships[2].discount}}</small>
                  </div>
                </div>
              </div>
              <br>
              <div class="card-deck">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{memberships[3].name}}</h5>
                    </div>
                  <img class="card-img-top" src="../../assets/group.jpg" height="50%" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{memberships[3].description}}</p>
                    <p class="card-text">Duration: {{memberships[3].duration}} times/week</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> Standard price: {{memberships[3].price}}</small>
                    <br>
                    <small class="text-muted"> Student price: {{memberships[3].discount}}</small>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{memberships[4].name}}</h5>
                    </div>
                  <img class="card-img-top" src="../../assets/personal.webp" height="50%" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{memberships[4].description}}</p>
                    <p class="card-text">Duration: Unlimited</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> Standard price: {{memberships[4].price}}</small>
                    <br>
                    <small class="text-muted"> Student price: {{memberships[4].discount}}</small>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{memberships[5].name}}</h5>
                    </div>
                  <img class="card-img-top" src="../../assets/allinclusive.jpg" height="50%"   alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">{{memberships[5].description}}</p>
                    <p class="card-text">Duration: {{memberships[5].duration}} times/month</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted"> Standard price: {{memberships[5].price}}</small>
                    <br>
                    <small class="text-muted"> Student price: {{memberships[5].discount}}</small>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
