<div class="container-fluid p-3  border bg-white ">
    <div class="row m-auto">
        <div class="col-md-12 text-center text-primary">
            <h3>My request</h3 >
        </div>
    </div>
    <br>
    <div class="row mx-auto text-center" *ngIf="!noRequestsFlag" >
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Number of trainings per week</th>
                <th scope="col">Description</th>
                <th scope="col">Phone</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody >
              <tr>
                <td>{{myRequest.name}}</td>
                <td>{{myRequest.surname}}</td>
                <td>{{myRequest.numperweek}}</td>
                <td>{{myRequest.description}}</td>
                <td>0{{myRequest.phone}}</td>
                <td><button (click) = 'accept(myRequest.attendee, myRequest.trainer)' class="btn btn-success ">Accept training</button></td>
                <td><button (click) = 'reject(myRequest.attendee, myRequest.trainer)' class="btn btn-danger ">Reject training</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="row m-auto" *ngIf="noRequestsFlag">
      <div class="col-md-12 text-center text-black">
          <h4>No new requests</h4 >
      </div>
    </div>
    <br>
    <br>
    <br>

    <br>
    <br>
    <div class="row m-auto">
        <div class="col-md-12 text-center text-primary">
            <h3>My trainings</h3 >
        </div>
    </div>
    <br>
    <div class="row mx-auto text-center"> 
        <div class="col-md-4">
            <h4>Denied</h4 >
              <div class="row mx-auto text-center">
                <table class="table" >
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Surname</th>
                      <th scope="col">Phone</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let deniedTraining of deniedTrainings ">
                    <tr>
                      <td>{{deniedTraining.name}}</td>
                      <td>{{deniedTraining.surname}}</td>
                      <td>0{{deniedTraining.phone}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      <div class="col-md-4">
        <h4>In progress</h4 >
          <div class="row mx-auto text-center">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Surname</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Trainings left</th>
                  <th></th>
                </tr>
              </thead>
              <tbody  *ngFor="let inProgressTraining of inProgressTrainings " >
                <tr>
                  <td>{{inProgressTraining.name}}</td>
                  <td>{{inProgressTraining.surname}}</td>
                  <td>0{{inProgressTraining.phone}}</td>
                  <td>{{inProgressTraining.numperweek}}</td>
                  <td *ngIf="inProgressTraining.numperweek == 1"><button type="button" class="btn btn-success" (click)="renew(inProgressTraining._id)">Renew</button></td>
                  <td><button type="button" class="btn btn-warning" (click)="doneOneTraining(inProgressTraining._id)">-</button></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      <div class="col-md-4">
        <h4>Completed</h4 >
          <div class="row mx-auto text-center" >
            <table class="table" >
              <thead >
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Surname</th>
                  <th scope="col">Phone</th>
                </tr>
              </thead>
              <tbody *ngFor="let completedTraining of completedTrainings " >
                <tr>
                  <td>{{completedTraining.name}}</td>
                  <td>{{completedTraining.surname}}</td>
                  <td>0{{completedTraining.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>